/* * {
    border: 1px solid red;
} */

form {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-2 p {
    font-weight: bolder;
}

.pass-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2%;
    padding: 20px 8px;
}

.pass-grid .radio {
    margin-bottom: 4px;
}

label {
    display: block;
    font-weight: 700;
}

.radio label {
    display: inline-block;
    margin-right: 20px;
}

span {
    display: block;
    font-weight: 700;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../images/cheetah-cloud.jpg');
    background-size: cover;
    background-position: center;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    min-width: max-content;
    max-width: 720px;
    margin: 20px auto;
    border-radius: 2%;
}

img {
    width: 190px;
    display: block;
    margin: 0 auto;
    transform: scaleX(-1);
}

.passengers div {
    display: inline-block;
}

#return-div {
    display: none;
}