/* * {
    border: 1px solid red;
} */

html {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../images/cheetah-cloud.jpg');
    background-size: cover;
    background-position: center;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 840px;
    margin: 20px auto;
    border-radius: 2%;
}

textarea {
    display: block;
    margin-top: 10px;
}

form {
    padding: 30px;
}



img {
    width: 190px;
    display: block;
    margin: 0 auto;
    transform: scaleX(-1);
}

.passengers div {
    display: inline-block;
}

#depart-div,
#return-div,
#from-div,
#to-div {
    display: inline-block;
}

#return-div {
    display: none;
}

div {
    margin: 20px 0;
}